/* I M P O R T */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

/* V A R I A B L E S */

/* Screen Sizes */
$mobile: 375px;
$desktop: 1440px;

/* Fonts */
$primary-font: "Kumbh Sans", sans-serif;

/* Font Weights */
$fw-normal: 400;
$fw-bold: 700;

/* Font Sizes */
$fs-16px: 16px;

/* Colors */
$primary-color: hsl(26, 100%, 55%);
$secondary-color: hsl(25, 100%, 94%);
$dark-blue-color: hsl(220, 13%, 13%);
$dark-gray-blue-color: hsl(219, 9%, 45%);
$gray-blue-color: hsl(220, 14%, 75%);
$light-gray-blue-color: hsl(223, 64%, 98%);
$white-color: hsl(0, 0%, 100%);
$black-color-75: hsl(0, 0%, 0%);

html {
    box-sizing: border-box;
    font-family: $primary-font;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
